<div class="container detalhamento" layout-padding>
     	
    <div class="form-group">
		<label>Nome do pretendente: </label> <span>{{fiancaCtrl.registro.inquilino}}</span>
		<label>CPF: </label> <span>{{fiancaCtrl.registro.CPF_inquilino}}</span>
		<label>Data Nascimento: </label> <span>{{fiancaCtrl.registro.data_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Tipo Documento: </label> <span>{{fiancaCtrl.registro.tipo_DOC_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Número Documento: </label> <span>{{fiancaCtrl.registro.rg_inquilino}}</span>
		<label>Orgão Expedidor: </label> <span>{{fiancaCtrl.registro.orgao_exp_inquilino}}</span>
		<label>Data Emissão: </label> <span>{{fiancaCtrl.registro.data_exp_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Sexo: </label> <span>{{fiancaCtrl.registro.sexo_inquilino}}</span>
		<label>Estado Civil: </label> <span>{{fiancaCtrl.registro.est_civil_inquilino}}</span>
	</div>
	
	<div class="form-group">
		<label>Nome Cônjuge: </label> <span>{{fiancaCtrl.registro.nome_conjuge_inquilino}}</span>
		<label>CPF Cônjuge: </label> <span>{{fiancaCtrl.registro.cpf_conjuge_inquilino}}</span>
		<label>Data Nascimento Cônjuge: </label> <span>{{fiancaCtrl.registro.data_conjuge_inquilno}}</span>
	</div>

	<div class="form-group">
		<label>Nº Dependentes: </label> <span>{{fiancaCtrl.registro.num_dependente_inquilino}}</span>
	</div>
	

	<div class="form-group">
		<label>Nome Mãe: </label> <span>{{fiancaCtrl.registro.nome_mae_inquilino}}</span>
		<label>Nome Pai: </label> <span>{{fiancaCtrl.registro.nome_pai_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Nacionalidade: </label> <span>{{fiancaCtrl.registro.nacionalidade_inquilino}}</span>
		<label>Tempo no País (se for estrangeiro): </label> <span>{{fiancaCtrl.registro.tempo_pais_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Pretendente irá residir no imóvel: </label> <span>{{fiancaCtrl.registro.vai_residir_imov_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Telefone: </label> <span>{{fiancaCtrl.registro.fone_inquilino}}</span>
		<label>Celular: </label> <span>{{fiancaCtrl.registro.cel_inquilino}}</span>
		<label>Telefone Comercial: </label> <span>{{fiancaCtrl.registro.fone_com_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Email: </label> <span>{{fiancaCtrl.registro.email_inquilino}}</span>
	</div>

</div>
