<div class="container detalhamento" layout-padding>
      	
    <div class="form-group">
		<label>Tempo de Residência: </label> <span>{{fiancaCtrl.registro.tempo_resid_inquilino}}</span>
		<label>Tipo Residência: </label> <span>{{fiancaCtrl.registro.tipo_resid_inquilino}}</span>
	</div>
	
	<div class="form-group">
		<label>Em nome de: </label> <span>{{fiancaCtrl.registro.resid_emnomede_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Arca com aluguel: </label> <span>{{fiancaCtrl.registro.arca_com_aluguel_inquilino}}</span>

	</div>

	<div class="form-group">
		<label>Nome da Imobiliária/Proprietário: </label> <span>{{fiancaCtrl.registro.nome_imobiliaria}}</span>

	</div>
	
	<div class="form-group">
		<label>Telefone Imobiliária/Proprietário: </label> <span>{{fiancaCtrl.registro.telefone_imobiliaria}}</span>
	</div>

	<div class="form-group">
		<label>CEP: </label> <span>{{fiancaCtrl.registro.cep_anterior_inquilino}}</span>
		<label>Estado: </label> <span>{{fiancaCtrl.registro.uf_anterior_inquilino}}</span>
		<label>Cidade: </label> <span>{{fiancaCtrl.registro.cidade_anterior_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Endereço: </label> <span>{{fiancaCtrl.registro.endereco_anterior_inquilino}}</span>
		<label>Bairro: </label> <span>{{fiancaCtrl.registro.bairro_anterior_inquilino}}</span>
		<label>Numero: </label> <span>{{fiancaCtrl.registro.num_anterior_inquilino}}</span>
	</div>

	<div class="form-group">
		<label>Complemento: </label> <span>{{fiancaCtrl.registro.complemento_anterior_inquilino}}</span>
	</div>
	
</div>
